
@{
    ViewData["Title"] = "Index";
}

<h2>Partial View</h2>

@await Html.PartialAsync("_Greeting")

<span>More stuff here....</span>
@using HelloMVCWorld.Models
<h2>Movies</h2>
@{
    ViewData["Title"] = "TemplatedDelegate";

    Func<dynamic, object> movieTemplate = @<div>@item.Title [@item.ReleaseDate.ToShortDateString()]</div>;

List<Movie> movies = new List<Movie>();
movies.Add(new Movie() { Title = "The Godfather", ReleaseDate = new DateTime(1972, 3, 24) });
movies.Add(new Movie() { Title = "Forrest Gump", ReleaseDate = new DateTime(1994, 7, 6) });
movies.Add(new Movie() { Title = "Fight Club", ReleaseDate = new DateTime(1999, 10, 15) });

}

@foreach (var movie in movies)
{
    @movieTemplate(movie)
}